# Virtual Environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Dataset (optional - if large)
dataset/

# Environment variables
.env

# Model files (optional if you don't want to push ML models)
model.pkl
vectorizer.pkl

# VS Code settings
.vscode/